
<div class="container">
  <dx-data-grid
  [remoteOperations]="true"
  [dataSource]="store"
  height="600"
  showBorders="true">
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
</dxo-editing>
<dxo-grouping [autoExpandAll]="false"></dxo-grouping>

</dx-data-grid>
</div>




<router-outlet></router-outlet>
